/*
===================================
        General Properties
====================================
*/

:root {
  /* Color Palette */
  --bgColor: #fff;
  --anchorColor: #d29e02;

  /* Custom Fonts */
  --common-font: "Open Sans", sans-serif;
}

body {
  /* color: #2f3138; */
  background: var(--bgColor);
  font-family: var(--common-font);
}

a {
  /* color: var(--anchorColor); */
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: var(--anchorColor);
  outline: none;
  text-decoration: none;
}
